apache-airflow-providers-amazon
apache-airflow-providers-celery
apache-airflow-providers-fab
apache-airflow-providers-mysql
asyncpg
faker
geopandas
ijson
pandas
psycopg2-binary
pyarrow
PyMySQL
requests
shapely
sqlalchemy
tenacity
